.wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity var(--transition-slow),
    transform var(--transition-slow);
  will-change: opacity, transform;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
